:root {
    --color-background-info: hsl(46, 100%, 86%);
    --color-background-light: hsl(46, 100%, 90%);
    --color-background-lighter: hsl(46, 100%, 94%);

    --color-text: hsl(45, 94%, 27%);
    --color-text-disabled: hsl(45, 94%, 50%);

    --color-fault: hsl(20, 100%, 50%);
    --color-fault-dark: hsl(20, 70%, 50%);
}
div.explanations-container{
    display: none;
}

div.sudoku-container{
    margin-top: 16vw;
    width: 100vw;
    height: 100vw;
}
div.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(27, [col] 1fr) ;
    grid-template-rows:  repeat(27, [row] 1fr) ;
    text-align: center;
    width: 100vw;
    height: 100vw;
}
div.sudoku-cell {
    grid-column: span 3;
    grid-row: span 3;
    border: .2vw solid black;
    text-align: center;
    font-size: 5vw;
    width: 11.1vw;
    line-height: 11.1vw;
}
div.sudoku-options-grid {
    border: .2vw solid black;
    display: grid;
    grid-column: span 3;
    grid-row: span 3;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (3, auto);
}
div.sudoku-option-cell {
    font-size: 3vw;
    line-height: 3.5vw;
    text-align: center;
}

div.buttons-container{
    position:absolute;
    display:block;
    width:80vw;
    left:50%;
    top:2vw;
    margin-left:-40vw;
    justify-content: space-between;
    display: flex;
}
button.button {
    color: var(--color-text);
    background-color: var(--color-background-info);
    display: inline-block;
    width: 30vw;
    text-align: center;
    vertical-align: middle;
    padding: 1vw 1vw;
    font-size: 3vw;
    border-radius: 1vw
}

div.keyboard-container {
    position: absolute;
    margin-top: 16vw;
    margin-left:-45vw;
    left:50%;
    width: 90vw;
}
div.keyboard-grid {
    display: grid;
    grid-template-columns: repeat(9, [col] 1fr) ;
    grid-template-rows: repeat(2, [row] 1fr) ;
    text-align: center;
    width: 90vw;
    height: 20vw;
    grid-gap: 1vw;
}
div.keyboard-cell {
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
    font-size: 4vw;
    width: 8vw;
    line-height: 8vw;
    justify-self: center;

    background-color: var(--color-background-info);

    border: .2vw solid var(--color-text-disabled);
    border-radius: 2vw;
}
div.keyboard-cell-span3 {
    grid-column: span 3;
    grid-row: span 1;
    width: 27vw;
    border-radius: 6vw;
}
div.keyboard-cell:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem var(--color-text);
    font-weight: bold;
}
div.enabled{
    color: var(--color-text);
}
div.disabled {
    color: var(--color-text-disabled);
}

/* mobile landscape */
@media (max-height:600px) and (min-width: 900px)
{
    div.sudoku-container{
        width: 100vh;
        height: 100vh;
        margin-top: 0;
        margin-left: calc(100vw /2 - 50vh);
    }
    div.buttons-container{
        width: 30vh;
        left: 5vh;
        margin-left: 0;
        height: 80vh;
        width: 20vh;
        top: 20vh;
        display: block;
    }
    button.button {
        color: var(--color-text);
        background-color: var(--color-background-info);
        display: inline-block;
        width: 20vh;
        text-align: center;
        vertical-align: middle;
        padding: 1vh 1vh;
        font-size: 3vh;
        border-radius: 1vh;
        margin-bottom: 20vh;
    }
    div.sudoku-grid {
        width: 100vh;
        height: 100vh;
    }
    div.sudoku-cell {
        border: .2vh solid black;
        font-size: 5vh;
        width: 11.1vh;
        line-height: 11.1vh;
    }
    div.sudoku-options-grid {
        border: .2vh solid black;
    }
    div.sudoku-option-cell {
        font-size: 3vh;
        line-height: 3.5vh;
    }
    div.keyboard-container {
        position: fixed;
        left: calc(100vw - 25vh);
        top: 10px;
        margin-top: 0;
        margin-left: 0;
    }
    div.keyboard-grid {
        display: grid;
        grid-template-columns: repeat(2, [col] 1fr) ;
        grid-template-rows: repeat(9, [row] 1fr) ;
        text-align: center;
        height: 90vh;
        width: 20vh;
        grid-gap: 1vh;
        grid-auto-flow: column;
    }
    div.keyboard-cell {
        grid-column: span 1;
        grid-row: span 1;
        text-align: center;
        font-size: 4vh;
        width: 8vh;
        line-height: 8vh;
        justify-self: center;

        background-color: var(--color-background-info);

        border: .2vh solid var(--color-text-disabled);
        border-radius: 2vh;
    }
    div.keyboard-cell-span3 {
        grid-column: span 1;
        grid-row: span 3;
        border-radius: 6vh;
        line-height: 27vh;
        align-self: center;
    }
}
/* screen */
@media (min-width: 600px) and (min-height:600px)
{
    html, body {
        min-height: 600px;
    }
    div.explanations-container{
      position:absolute;
      display:block;
      width:600px;
      left:50%;
      margin-top: 30px;
      margin-left:-300px;
    }

    div.sudoku-container{
      position:absolute;
      display:block;
      height:450px;
      width:450px;
      left:50%;
      top: max(50%, 330px);
      margin-top:-225px;
      margin-left:-222px;
    }
    div.sudoku-grid {
      width: 450px;
      height: 460px;
    }
    div.sudoku-cell {
      grid-column: span 3;
      grid-row: span 3;
      border: 1px solid black;
      text-align: center;
      font-size: large;
      width: 50px;
      line-height: 50px;
    }
    div.sudoku-options-grid {
      border: 1px solid black;
      display: grid;
      grid-column: span 3;
      grid-row: span 3;
      grid-template-columns: repeat (3, 1fr);
      grid-template-rows: repeat (3, auto);
    }
    div.sudoku-option-cell {
      font-size: small;
      line-height: 13px;
      text-align: center;
    }
    div.buttons-container{
      position:absolute;
      display:block;
      width:240px;
      left:50%;
      top: max(88%, 560px);
      margin-left:-120px;

      display: flex;
      justify-content: space-between;
    }
    button.button {
        color: var(--color-text);
        background-color: var(--color-background-info);
        display: inline-block;
        width: 100px;
        text-align: center;
        vertical-align: middle;
        font-size: small;
        line-height: 1.5;
        border-radius: .25rem;
    }
    div.keyboard-container {
        display: none;
    }

}
div.explanations-text {
    color: var(--color-text);
    background-color: var(--color-background-light);
    border-radius .25rem;
    font-size: small;
    text-align: center;
}
div.edit {
  font-weight: normal;
}
div.frozen {
  font-weight: bold;
}
div.focus {
  background-color: var(--color-background-info);
}
div.fault {
  color: var(--color-fault);
}
div.highlight {
  background-color: var(--color-background-info);
}

div.edit:hover {
    background-color: var(--color-background-light);
}
div.frozen:hover {
    background-color: var(--color-background-lighter);
}
div.fat-border-left {
  border-left: 2px solid black;
}
div.fat-border-right {
  border-right: 2px solid black;
}
div.normal-border-horizontal {
}
div.fat-border-top {
  border-top: 2px solid black;
}
div.fat-border-bottom {
  border-bottom: 2px solid black;
}
div.normal-border-vertical {
}



div.option0 {
  grid-column: 1;
  grid-row: 1;
}
div.option1 {
  grid-column: 2;
  grid-row: 1;
}
div.option2 {
  grid-column: 3;
  grid-row: 1;
}
div.option3 {
  grid-column: 1;
  grid-row: 2;
}
div.option4 {
  grid-column: 2;
  grid-row: 2;
}
div.option5 {
  grid-column: 3;
  grid-row: 2;
}
div.option6 {
   grid-column: 1;
   grid-row: 3;
 }
 div.option7 {
   grid-column: 2;
   grid-row: 3;
 }
 div.option8 {
   grid-column: 3;
   grid-row: 3;
 }
div.option-focus {
  font-size: small;
  background-color: var(--color-background-info);
  line-height: 12px;
}
div.option:hover {
  background-color: lightgray;
}
div.fault {
  color: var(--color-fault);
}
button.button:hover {
    color: var(--color-text);
    font-weight: bold;
}
button.button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem var(--color-text);
    font-weight: bold;
}

div.animation1 {
  animation-name: animation1;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
div.animation2 {
  animation-name: animation2;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
div.animation3 {
  animation-name: animation3;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
div.animation4 {
  animation-name: animation4;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
div.animation5 {
  animation-name: animation5;
  animation-duration: 0.5s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}
div.animation6 {
  animation-name: animation6;
  animation-duration: 0.5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
div.animation7 {
  animation-name: animation7;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}
div.animation8 {
  animation-name: animation8;
  animation-duration: 0.5s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
}
div.animation9 {
  animation-name: animation9;
  animation-duration: 0.5s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}
@keyframes animation1 {
  from {background-color: transparent;}
  to {background-color: var(--color-background-info);}
}
@keyframes animation2 {
  from {background-color: var(--color-background-info);}
  to {background-color: transparent;}
}
@keyframes animation3 {
  from {background-color: transparent;}
  to {background-color: var(--color-background-info);}
}
@keyframes animation4 {
  from {background-color: var(--color-background-info);}
  to {background-color: transparent;}
}
@keyframes animation5 {
  from {background-color: transparent;}
  to {background-color: var(--color-background-info);}
}
@keyframes animation6 {
  from {background-color: var(--color-background-info);}
  to {background-color: transparent;}
}
@keyframes animation7 {
  from {background-color: transparent;}
  to {background-color: var(--color-background-info);}
}
@keyframes animation8 {
  from {background-color: var(--color-background-info);}
  to {background-color: transparent;}
}
@keyframes animation9 {
  from {background-color: transparent;}
  to {background-color: var(--color-background-info);}
}